# Q1. How do you load a CSV file into a Pandas DataFrame?

In [2]:
import pandas as pd

In [3]:
import numpy as np

#We can use read_csv() to load a csv file into a pandas Dataframe.

import pandas as pd
df = pd.read_csv(Filename)

# Q2. How do you check the data type of a column in a Pandas DataFrame?

We can either use dtypes attribute of a dataframe or we can use dtype method to know the data type of a particular column

# Q3. How do you select rows from a Pandas DataFrame based on a condition?

We can either use boolean indexing

for example

In [2]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df[df['Age'] > 30]

       Name  Age
1  Jane Doe   40

Using the loc accessor

The loc accessor can also be used to select rows from a DataFrame based on a condition. The loc accessor takes a comma-separated list of labels as its argument. The labels can be column names, row numbers, or a combination of both.

In [3]:
df.loc[df['Name'] == 'John Doe']

# Name     Age
# 0  John Doe   30

       Name  Age
0  John Doe   30

# Q4. How do you rename columns in a Pandas DataFrame?

There are two ways to rename columns in a Pandas DataFrame:

Using the rename method

The rename method takes a dictionary as its argument. The dictionary maps the old column names to the new column names.

For example, the following code renames the Name column to First Name and the Age column to Last Name:

In [4]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df = df.rename(columns={'Name':'First Name','Age':'Last Name'})

df

  First Name  Last Name
0   John Doe         30
1   Jane Doe         40

Using the columns attribute

The columns attribute can be used to assign a new list of column names to the DataFrame.

For example, the following code renames the Name column to First Name and the Age column to Last Name:

In [6]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df.columns = ['First Name','Last Name']

df

  First Name  Last Name
0   John Doe         30
1   Jane Doe         40

# Q5. How do you drop columns in a Pandas DataFrame?


There are two ways to drop columns in a Pandas DataFrame:

Using the drop() method
The drop() method takes a list of column names as its argument. The columns will be dropped from the DataFrame.

For example, the following code drops the Name column from the DataFrame df:

In [7]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df = df.drop('Name', axis=1)

print(df)

   Age
0   30
1   40

Using the pop() method
The pop() method takes a column name as its argument. The column will be removed from the DataFrame and returned.

In [8]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

name_column = df.pop('Name')

print(df)

   Age
0   30
1   40

# Q6. How do you find the unique values in a column of a Pandas DataFrame?

There are two ways to find the unique values in a column of a Pandas DataFrame:

Using the unique() method
The unique() method returns a list of unique values in the column.

In [11]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe','John Doe'], 'Age':[30,40,10]})

unique_values = df['Name'].unique()

print(unique_values)

['John Doe' 'Jane Doe']

Using the set() method
The set() method returns a set of unique values in the column.

For example, the following code finds the unique values in the Name column of the DataFrame df:

In [12]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

unique_values = set(df['Name'])

print(unique_values)

{'Jane Doe', 'John Doe'}

# Q7. How do you find the number of missing values in each column of a Pandas DataFrame?

There are two ways to find the number of missing values in each column of a Pandas DataFrame:

Using the isna() method
The isna() method returns a Boolean Series that indicates whether each value in the column is missing.

For example, the following code finds the number of missing values in the Name column of the DataFrame df:

In [22]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe',None], 'Age':[30,40,40]})

missing_values = df['Name'].isna()

print(missing_values)

0    False
1    False
2     True
Name: Name, dtype: bool

The sum() method can then be used to count the number of True values in the Boolean Series.

For example, the following code finds the number of missing values in the Name column of the DataFrame df

In [24]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe',None], 'Age':[30,40,40]})

missing_values = df['Name'].isna()

number_of_missing_values = missing_values.sum()

print(number_of_missing_values)

1

Using the isnull() method
The isnull() method is equivalent to the isna() method.

For example, the following code finds the number of missing values in the Name column of the DataFrame df:

In [26]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe',None], 'Age':[30,40,40]})

missing_values = df['Name'].isnull()

number_of_missing_values = missing_values.sum()

print(number_of_missing_values)

1

# Q8. How do you fill missing values in a Pandas DataFrame with a specific value?

There are two ways to fill missing values in a Pandas DataFrame with a specific value:

Using the fillna() method
The fillna() method takes a value as its argument and fills all missing values in the column with that value.

For example, the following code fills all missing values in the Name column of the DataFrame df with the value "Unknown":

In [30]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe',None], 'Age':[30,40,40]})

df['Name'] = df['Name'].fillna('Unknown')

print(df)

       Name  Age
0  John Doe   30
1  Jane Doe   40
2   Unknown   40

Using the replace() method
The replace() method takes a dictionary as its argument. The dictionary maps missing values to the values that you want to fill them with.

For example, the following code fills all missing values in the Name column of the DataFrame df with the value "Unknown":

In [39]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe',np.nan], 'Age':[30,40,40]})

df['Name'] = df['Name'].replace(np.nan, 'Unknown')

print(df)

       Name  Age
0  John Doe   30
1  Jane Doe   40
2   Unknown   40

# Q9. How do you concatenate two Pandas DataFrames?


To concatenate two Pandas DataFrames, you can use the concat() method. The concat() method takes a list of DataFrames as its argument and concatenates them along the specified axis.

The default axis is 0, which means that the DataFrames will be concatenated along the rows.

For example, the following code concatenates the DataFrames df1 and df2 along the rows:

In [41]:
df1 = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df2 = pd.DataFrame({'Name':['Peter Smith','Mary Jones'], 'Age':[50,60]})

df = pd.concat([df1, df2])

df

          Name  Age
0     John Doe   30
1     Jane Doe   40
0  Peter Smith   50
1   Mary Jones   60

You can also concatenate DataFrames along the columns by specifying axis=1.

For example, the following code concatenates the DataFrames df1 and df2 along the columns:

In [42]:
df1 = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df2 = pd.DataFrame({'City':['New York','Los Angeles'], 'State':['NY','CA']})

df = pd.concat([df1, df2], axis=1)

print(df)

       Name  Age         City State
0  John Doe   30     New York    NY
1  Jane Doe   40  Los Angeles    CA

# Q10. How do you merge two Pandas DataFrames on a specific column?

To merge two Pandas DataFrames on a specific column, you can use the merge() method. The merge() method takes two DataFrames as its arguments and merges them on the specified column.

The default merge type is inner, which means that only rows that exist in both DataFrames will be included in the merged DataFrame.

For example, the following code merges the DataFrames df1 and df2 on the Name column:

In [44]:
df1 = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df2 = pd.DataFrame({'Name':['John Doe','Mary Jones'], 'Age':[50,60]})

df = pd.merge(df1, df2, on='Name')

print(df)

       Name  Age_x  Age_y
0  John Doe     30     50

## Example of outer merge

In [46]:
df1 = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df2 = pd.DataFrame({'Name':['Peter Smith','Mary Jones'], 'Age':[50,60]})

df = pd.merge(df1, df2, on='Name', how='outer')
df

          Name  Age_x  Age_y
0     John Doe   30.0    NaN
1     Jane Doe   40.0    NaN
2  Peter Smith    NaN   50.0
3   Mary Jones    NaN   60.0

# Q11. How do you group data in a Pandas DataFrame by a specific column and apply an aggregation function?

To group data in a Pandas DataFrame by a specific column and apply an aggregation function, you can use the groupby() method. The groupby() method takes a column name as its argument and returns a DataFrameGroupBy object.

The DataFrameGroupBy object has a number of methods that can be used to apply aggregation functions. The most common aggregation functions are sum, mean, min, and max.

In [48]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Category': ['A', 'B', 'A', 'B', 'A'],
                   'Value': [10, 15, 8, 12, 9]})

# Group the DataFrame by 'Category' and calculate the sum of 'Value' within each group
grouped_df = df.groupby('Category')['Value'].sum()

# Display the grouped DataFrame
print(grouped_df)

Category
A    27
B    27
Name: Value, dtype: int64

To pivot a Pandas DataFrame, you can use the pivot() function. The pivot() function reshapes the DataFrame by converting unique values from one column into new columns and redistributing the data accordingly.

In [49]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B', 'C'],
                   'Value': [10, 15, 8, 12, 5],
                   'Variable': ['X', 'Y', 'X', 'Y', 'X']})

# Pivot the DataFrame
pivoted_df = df.pivot(index='Category', columns='Variable', values='Value')

# Display the pivoted DataFrame
print(pivoted_df)

Variable     X     Y
Category
A         10.0  15.0
B          8.0  12.0
C          5.0   NaN

# Q13. How do you change the data type of a column in a Pandas DataFrame?

To change the data type of a column in a Pandas DataFrame, you can use the astype() method. The astype() method allows you to convert the data type of a column to a specified data type

In [50]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Column1': [1, 2, 3],
                   'Column2': ['A', 'B', 'C']})

# Change the data type of 'Column1' to float
df['Column1'] = df['Column1'].astype(float)

# Display the modified DataFrame
print(df)

   Column1 Column2
0      1.0       A
1      2.0       B
2      3.0       C

# Q14. How do you sort a Pandas DataFrame by a specific column?

To sort a Pandas DataFrame by a specific column, you can use the sort_values() method. The sort_values() method allows you to sort the DataFrame based on one or more columns.

In [51]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Name': ['John', 'Alice', 'Bob', 'Charlie'],
                   'Age': [25, 30, 22, 35],
                   'City': ['New York', 'Paris', 'London', 'Sydney']})

# Sort the DataFrame by the 'Age' column in ascending order
sorted_df = df.sort_values('Age')

# Display the sorted DataFrame
print(sorted_df)

      Name  Age      City
2      Bob   22    London
0     John   25  New York
1    Alice   30     Paris
3  Charlie   35    Sydney

# Q15. How do you create a copy of a Pandas DataFrame?

To create a copy of a Pandas DataFrame, you can use the copy() method. The copy() method returns a new DataFrame that is a deep copy of the original DataFrame.

For example, the following code creates a copy of the DataFrame df:

In [52]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe'], 'Age':[30,40]})

df2 = df.copy()

print(df2)

       Name  Age
0  John Doe   30
1  Jane Doe   40

The df2 DataFrame is a separate object from the df DataFrame. Any changes made to df2 will not be reflected in df.

# Q16. How do you filter rows of a Pandas DataFrame by multiple conditions?

To filter rows of a Pandas DataFrame by multiple conditions, you can use the loc() method. The loc() method takes a Boolean Series as its argument. The Boolean Series is created by using the & operator to combine the individual conditions.

For example, the following code filters the DataFrame df to only include rows where the Age column is greater than 30 and the Name column starts with the letter "J":

In [54]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe','Peter Smith'], 'Age':[30,40,50]})

filtered_df = df.loc[(df['Age'] >= 30) & (df['Name'].str.startswith('J'))]

print(filtered_df)

       Name  Age
0  John Doe   30
1  Jane Doe   40

# Q17. How do you calculate the mean of a column in a Pandas DataFrame?

To calculate the mean of a column in a Pandas DataFrame, you can use the mean() method. The mean() method computes the arithmetic mean (average) of the values in a column.

In [7]:
# Create a sample DataFrame
df = pd.DataFrame({'Column1': [10, 20, 30, 40, 50]})

# Calculate the mean of 'Column1'
mean_value = df['Column1'].mean()

# Print the mean value
print(mean_value)

30.0

# Q18. How do you calculate the standard deviation of a column in a Pandas DataFrame?

In [9]:
Standard_deviation = df['Column1'].std()

print(Standard_deviation)

15.811388300841896

# Q19. How do you calculate the correlation between two columns in a Pandas DataFrame?

To calculate the correlation between two columns in a Pandas DataFrame, you can use the corr() method. The corr() method takes two column names as its arguments and returns a float value. The float value is the correlation coefficient between the two columns.

The correlation coefficient is a measure of the linear relationship between two variables. The correlation coefficient can range from -1 to 1. A correlation coefficient of -1 indicates a perfect negative relationship, a correlation coefficient of 0 indicates no relationship, and a correlation coefficient of 1 indicates a perfect positive relationship.

For example, the following code calculates the correlation between the Age and Weight columns in the df DataFrame:

In [10]:
df = pd.DataFrame({'Age':[30,40,50], 'Weight':[150,200,250]})

correlation = df['Age'].corr(df['Weight'])

print(correlation)

1.0

The line correlation = df['Age'].corr(df['Weight']) calculates the correlation between the 'Age' and 'Weight' columns using the corr() method. The corr() method is used to compute the correlation coefficient between two series or columns in a DataFrame. In this case, it calculates the correlation coefficient between the 'Age' and 'Weight' columns

# Q20. How do you select specific columns in a DataFrame using their labels?

To select specific columns in a DataFrame using their labels, you can use the square brackets []. The square brackets take a list of column names as their argument.

For example, the following code selects the Age and Weight columns from the df DataFrame:

In [11]:
df = pd.DataFrame({'Age':[30,40,50], 'Weight':[150,200,250]})

selected_columns = df[['Age','Weight']]

print(selected_columns)

   Age  Weight
0   30     150
1   40     200
2   50     250

You can also use the loc() method to select specific columns in a DataFrame using their labels. The loc() method takes a list of column names as its argument.

In [12]:
df = pd.DataFrame({'Age':[30,40,50], 'Weight':[150,200,250]})

selected_columns = df.loc[:,['Age','Weight']]

print(selected_columns)

   Age  Weight
0   30     150
1   40     200
2   50     250

# Q21. How do you select specific rows in a DataFrame using their indexes?

In [15]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe','Peter Smith'], 'Age':[30,40,50]})

selected_rows = df[1:2]

print(selected_rows)

       Name  Age
1  Jane Doe   40

# Using the loc() method
The loc() method takes a list of row indexes as its argument.

For example, the following code is equivalent to the previous code:

In [16]:
df = pd.DataFrame({'Name':['John Doe','Jane Doe','Peter Smith'], 'Age':[30,40,50]})

selected_rows = df.loc[[0,2]]

print(selected_rows)

          Name  Age
0     John Doe   30
2  Peter Smith   50

# Q22. How do you sort a DataFrame by a specific column?

## Same answer as in Q14

# Q23. How do you create a new column in a DataFrame based on the values of another column?

To create a new column in a DataFrame based on the values of another column, you can assign a new column with the desired values to the DataFrame.

Here's an example of how to create a new column based on the values of an existing column:

In [22]:
# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

# Create a new column 'B' based on values in column 'A'
df['B'] = df['A'] * 2

print(df)

   A   B
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10

# Q24. How do you remove duplicates from a DataFrame?

To remove duplicates from a DataFrame, you can use the drop_duplicates() method. The drop_duplicates() method removes rows that have duplicate values across all columns or specific columns in the DataFrame.

Here's an example of how to remove duplicates from a DataFrame:

In [24]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 4],
                   'B': ['a', 'b', 'b', 'c', 'c', 'd']})

# Remove duplicates from the DataFrame
df_unique = df.drop_duplicates()

print(df_unique)

   A  B
0  1  a
1  2  b
3  3  c
4  4  c
5  4  d

# Q25. What is the difference between .loc and .iloc in Pandas?

The main difference between .loc and .iloc in Pandas is the way they access and index data in a DataFrame.

.loc is primarily label-based indexing, which means it accesses and retrieves data based on the label or index name. It accepts label-based selections, slices, or boolean arrays to filter rows and columns.

In [27]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])

# Access rows and columns using label-based indexing
value = df.loc['a', 'A']  # Access value at row 'a' and column 'A'
subset = df.loc[['a', 'b'], 'B']  # Access a subset of rows and column 'B'
slice_rows = df.loc['a':'c', 'A']  # Access a slice of rows and column 'A'
boolean_filter = df.loc[df['A'] > 1, 'B']  # Use boolean filtering on rows and column 'B'

On the other hand, .iloc is primarily integer-based indexing, which means it accesses and retrieves data based on the integer positions. It accepts integer-based selections, slices, or boolean arrays to filter rows and columns.

In [29]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Access rows and columns using integer-based indexing
value = df.iloc[0, 0]  # Access value at row 0 and column 0
subset = df.iloc[[0, 1], 1]  # Access a subset of rows and column 1
slice_rows = df.iloc[0:2, 0]  # Access a slice of rows and column 0

In summary, the key distinction between .loc and .iloc lies in the type of indexing used. .loc operates on label-based indexing, allowing you to access data using labels or index names, while .iloc operates on integer-based indexing, enabling you to access data using integer positions.

In [31]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3]}, index=['a', 'b', 'c'])

# Preferred: Label-based indexing using .loc[]
rows = df.loc[['a', 'b']]  # Extract rows with specific index labels

In [32]:
rows

   A
a  1
b  2

In [33]:
df

   A
a  1
b  2
c  3

In [38]:
df['A']

a    1
b    2
c    3
Name: A, dtype: int64